fastapi~=0.103
uvicorn[standard]
annotated-types
anyio
certifi
click
colorama
dnspython
email-validator
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
MarkupSafe
orjson
pip
pydantic
pydantic_core
pydantic-extra-types
pydantic-settings
python-dotenv
python-multipart
PyYAML
sniffio
starlette
typing_extensions
ujson
watchfiles
websockets